/* line 5, ../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/partials/_base.scss */
body {
  background-color: #EEE;
  font-family: 'Chivo', sans-serif;
  padding: 70px 0;
}

/* line 7, ../scss/partials/_base.scss */
h1 {
  text-align: center;
  font-size: 36px;
  color: #666;
  font-weight: 700;
}

/* line 14, ../scss/partials/_base.scss */
.wrapper {
  max-width: 1024px;
  padding: 0 25px;
  margin: 50px auto;
}

@font-face {
  font-family: 'cssl-icons';
  src: url("../assets/fonts/cssl-icons.ttf?6t32jp") format("truetype"), url("../assets/fonts/cssl-icons.woff?6t32jp") format("woff"), url("../assets/fonts/cssl-icons.svg?6t32jp#cssl-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 11, ../scss/partials/_fonts.scss */
.icon-mid-star, .icon-star {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cssl-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 25, ../scss/partials/_fonts.scss */
.icon-mid-star:before {
  content: "\e900";
}

/* line 28, ../scss/partials/_fonts.scss */
.icon-star:before {
  content: "\e901";
}

/* line 2, ../scss/partials/_slider.scss */
.csslider .cssl-container {
  display: flex;
}
/* line 5, ../scss/partials/_slider.scss */
.csslider .cssl-card {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  height: 416px;
  margin-left: 30px;
  background-color: #FFF;
}
/* line 13, ../scss/partials/_slider.scss */
.csslider .cssl-card:first-of-type {
  margin-left: 0;
}
/* line 17, ../scss/partials/_slider.scss */
.csslider .cssl-img {
  width: 100%;
  display: block;
}
/* line 22, ../scss/partials/_slider.scss */
.csslider .cssl-content {
  padding: 17px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 116px;
  box-sizing: border-box;
}
/* line 30, ../scss/partials/_slider.scss */
.csslider .cssl-title {
  font-size: 24px;
  color: #444;
  letter-spacing: -.03em;
  padding-bottom: 5px;
}
/* line 36, ../scss/partials/_slider.scss */
.csslider .cssl-description {
  font-size: 13px;
  color: #888;
}
/* line 40, ../scss/partials/_slider.scss */
.csslider .cssl-subcontent {
  display: flex;
  color: #FF8626;
}
/* line 44, ../scss/partials/_slider.scss */
.csslider .cssl-rating {
  font-size: 13px;
  padding-right: 5px;
  font-weight: 700;
}
/* line 49, ../scss/partials/_slider.scss */
.csslider .cssl-icon {
  font-size: 10px;
  margin-left: 3px;
}
/* line 53, ../scss/partials/_slider.scss */
.csslider .cssl-stars {
  display: flex;
  align-items: center;
}
